<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test-production-smoke" parallel="false" thread-count="4">
	<listeners>
		<listener class-name="ParallelWebdriverListenerRetry2WorksWell.ListenerITest"></listener>
		<listener class-name="ParallelWebdriverListenerRetry2WorksWell.MyTransformer"></listener>
		<!-- -->
	</listeners>
	<test name="ProductionTest" verbose="1" parallel="methods">
		<groups>
			<run>
				<include name="SMOKE_TEST"></include>
			</run>
		</groups>
		<classes>
			<class name="ParallelWebdriverListenerRetry2WorksWell.LandingPageTest" />
		</classes>
	</test>
</suite>